@import "@styles/variables";

#info {
    min-width: 176.35rem;
    background-image: url("/jpg/mountain.jpg");
    background-size: cover;
    background-position: center 50%;

    h2 {
        color: $hasten-beige;
        font-size: 3rem;
        margin-top: 18.62rem;
        margin-left: 2.62rem;
        margin-bottom: 0;
    }
}

.purple-elements-container {
    margin-top: -3.8125rem;
    margin-left: -30rem;

    .circle {
        margin-top: 2.37rem;
        margin-left: 11.63rem;
    }
}

.circle {
    width: 6.8125rem;
    height: 6.8125rem;
    background-color: $hasten-purple;
    border-radius: 50%;
    border: 1px solid $hasten-black;
}

.circle.no-button {
    margin-top: 2.63rem;
    margin-left: 5.06rem;
}

.cta-bubble {
    width: 22.875rem;
    height: 3.8125rem;
    color: $hasten-beige;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    font-family: Archivo;
    border: 1px solid $hasten-black;
    border-radius: 1.375rem;
    background: $hasten-purple;
}

.cta-1 {
    margin-top: 1.44rem;
    margin-left: 6.44rem;
}

.cta-2 {
    margin-left: 3.19rem;
}

.orange-bubble {
    border-radius: 3.1875rem;
    border: 1px solid $hasten-black;
    background: $hasten-orange;
}

.info-container {
    align-items: flex-start;
}

.content-bubble-1 {
    width: 74rem;
    height: 14.625rem;
    margin-left: 5.94rem;
}

.content-bubble-2 {
    width: 55.9375rem;
    height: 10.375rem;
    margin-top: 1.39rem;
    margin-left: 23.69rem;
    border-radius: 1.8125rem;
}

.content-bubble-3 {
    width: 50.125rem;
    height: 10.8125rem;
    margin-left: 1.19rem;
}

.content-bubble-4 {
    width: 68.25rem;
    height: 11.125rem;
    margin-top: 1.44rem;
    margin-left: 14.19rem;
}
