@import "/src/app/styles/variables";

header {
    height: 12.0625rem;
    padding-left: 69.63rem;
    margin-bottom: -12.0625rem;
    background: transparent;
    z-index: 2;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 2;
    }

    nav > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    nav .active-link {
        background-color: $hasten-orange;
        color: $hasten-black;
    }

    .menu-button {
        width: 18.4375rem;
        height: 3.8125rem;
        font-size: 2rem;
        margin-left: 6.19rem;
        border-radius: 1.375rem;
        border: 1px solid $hasten-black;
        background: $hasten-beige;
        flex-shrink: 0;
    }

    #first-button {
        margin-left: 0;
    }

    #last-button {
        margin-right: 1.94rem;
    }
}
